<div class="h-screen w-screen flex flex-col justify-center items-center space-y-4 bg-[#F6E8D5]">
  <%= image_tag "top_image.jpg", class: "mt-0 mb-0" %>
  <div class="text-center">
    <h1 class="text-4xl font-bold">とんこつマップ</h1>
    <p class="text-lg">とんこつラーメン店検索アプリ</p>
  </div>
</div>

