<div class='h-screen w-screen flex justify-center items-center'>
  <%= image_tag "top_image.jpg" %>
</div>
<div>
  <hi>とんこつマップ</hi>
  <p>とんこつラーメン店検索アプリ</p>
</div>

<body class="bg-orange-600">
    <%= yield %>
  </body>