<div class="flex flex-col min-h-screen mt-16 bg-[#F2D1B3]">
  <div class="w-full h-auto overflow-hidden">
    <%= image_tag "top_image.jpg", class: "w-full" %>
  </div>

  <div class="text-center w-full px-4 mt-4">
    <h1 class="text-4xl font-bold text-red-400">とんこつマップ</h1>
    <p class="text-lg">~とんこつラーメン店検索アプリ~</p>
  </div>

  <div class="flex justify-center gap-20 mt-8 mb-16">
    <%= link_to '新規登録', '#', class: 'block text-2xl font-bold text-green-500 hover:text-green-700 transition-colors' %>
    <%= link_to '検索してみる', maps_path, class: 'block text-2xl font-bold text-green-500 hover:text-green-700 transition-colors' %>
  </div>
</div>
