<div class="tab-pane fade" id="favorites" role="tabpanel">
  <div class="container mt-4">
    <% if @favorite_shops.present? %>
      <div class="row">
        <% @favorite_shops.each do |shop| %>
          <div class="col-md-6 col-lg-4 mb-4">
            <%= render 'favorite_shop_card', shop: shop %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-muted mb-3 text-center">
        <div class="mb-2"><%= t('defaults.no_favorites') %></div>
      </div
    <% end %>
  </div>
</div>
