<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <% if Rails.application.assets&.find_asset("board_placeholder.png") %>
        <%= image_tag "board_placeholder.png", class: "card-img-top", width: "300", height:"200" %>
      <% else %>
        <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="width: 300px; height: 200px;">
          <span class="text-muted">画像なし</span>
        </div>
      <% end %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to board.title, '#' %>
          </h4>
          <div class='ms-auto'>
            <!-- 他のコンテンツ -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>